.form-content-labels {
    font-family: inherit;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    // line-height: 2.5;
    letter-spacing: normal;
    text-align: left;
    color: #4d4e4e;
    color: var(--Black);
  }
  input{
    font-size: 14px;
    height: 30px;
  }