.background {
    width: 100%;
    height: 100vh;
     background: #d8e2ec;
  }
  .material-icons {
    padding: 7px;
    font-size: 20px;   
  }
  .list{
    width: 100%;
    height: 90vh; 
    background: white;
  }
  i:hover{
      cursor: pointer;
  }
  thead{
    background: #7bc0fb;
    font-weight: 100;
  }
  .table{
    margin: 60px;
    table-layout: fixed;
    width: 100%;
    word-wrap:break-word;
  }
  .even-row{
      background:#c4dbef;;
  }
  .odd-row{
      background: #f1f1f1;;
  }
  .mail{
      text-decoration: underline;
      color: blue
  }